{% extends "main_authorized.html" %}
{% load markdown_deux_tags %}
{% load area_rating %}
{% block title %}{{ card }}{% endblock %}
{% block content %}
    <div id="braindump-detail" class="col-lg-8 mx-auto px-0">
        <h1 class="h5 my-3">
            <div class="float-right d-none d-sm-block">
                <a href="{% url 'category-detail' card.category.pk %}" class="btn btn-link btn-sm">Go to category</a>
            </div>
            {{ card.category.name }}
        </h1>
        <div class="card">
            <div class="card-header">
                Card #{{ card.pk }}
                <div class="float-right">
                    {% area_rating card_placement.area %}
                </div>
            </div>
            <div class="card-body">
                {{ card.question|markdown }}
                {% if card.hint %}
                    <div id="hint">
                        <hr>
                        {{ card.hint|markdown }}
                    </div>
                {% endif %}
                <div id="answer">
                    <hr>
                    {{ card.answer|markdown }}
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'card-reset' card.pk %}"
                   class="btn btn-secondary {% if card_placement.area == 1 %}disabled{% endif %}"
                   title="Move this card to area 1">Reset</a>
                <a href="{% url 'card-update' card.pk %}" class="btn btn-secondary" title="Edit this card">Update</a>
                <a href="{% url 'card-delete' card.pk %}" class="btn btn-link{% if user in card.is_shared_with %} disabled{% endif %}" title="Delete this card">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}
