{% extends "main_authorized.html" %}
{% load bootstrap4 %}
{% block title %}Card{% endblock %}
{% block content %}
    <h1 class="my-5">Create Card</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <input type="submit" class="btn btn-primary" name="save" value="Save" />
            <input type="submit" class="btn btn-primary" name="save" value="Save and Create New" />
       {% endbuttons %}
    </form>
{% endblock %}
