{% extends "main.html" %}
{% load area_rating %}
{% load card_controls %}
{% load bootstrap4 %}
{% block title %}Cards{% endblock %}
{% block content %}
    <h1 class="my-5">
        Cards
        <div class="float-right">
            <a href="{% url 'card-create' %}" class="btn btn-outline-secondary" title="Create a new card">Create Card</a>
        </div>
    </h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Question</th>
                <th>Area</th>
                <th>Category</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for card in card_list %}
                <tr>
                    <td><a href="{% url 'card-detail' card.pk %}" title="{{ card.question }}">{{ card.question|truncatechars:128 }}</a></td>
                    <td>{% area_rating card.area %}</td>
                    <td><a href="{% url 'category-detail' card.category.pk %}" title="{{ card.category }}">{{ card.category.name|truncatechars:32 }}</a></td>
                    <td>{% card_controls card %}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No cards yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% bootstrap_pagination page_obj %}
{% endblock %}
