{% extends "main.html" %}
{% load area_rating %}
{% block title %}Cards{% endblock %}
{% block content %}
    <h1>
        Cards
        <div class="pull-right">
            <a href="{% url 'card-create' %}" class="btn btn-default">Create</a>
        </div>
    </h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Question</th>
                <th>Area</th>
                <th>Category</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for card in card_list %}
                <tr>
                    <td><a href="{% url 'card-detail' card.pk %}">{{ card.question|truncatechars:128 }}</a></td>
                    <td>{% area_rating card.area %}</td>
                    <td><a href="{% url 'category-detail' card.category.pk %}">{{ card.category.name|truncatechars:32 }}</a></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="{% url 'card-reset' card.pk %}" class="btn btn-default btn-xs {% if card.area == 1 %}disabled{% endif %}">Reset</a>
                            <a href="{% url 'card-update' card.pk %}" class="btn btn-default btn-xs">Update</a>
                            <a href="{% url 'card-delete' card.pk %}" class="btn btn-default btn-xs">Delete</a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No cards yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_paginated %}
        <div class="pagination">
            <ul class="pagination pagination-centered">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="">&laquo;</a></li>
                {% endif %}

                {% for i in paginator.page_range %}
                    <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
