{% extends "main_authorized.html" %}
{% load bootstrap4 %}
{% block title %}Confirmation{% endblock %}
{% block content %}
    <h1 class="my-sm-2 my-lg-5">Confirmation</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>Your last interaction with this category was {{ category.last_interaction|timesince }} ago.</p>
        {% if category.cards.all|length %}
            This category contains {{ category.cards.all|length }} card{{ category.cards.all|length|pluralize }}:
            <ul>
                {% for card in category.cards.all %}
                    <li>{{ card.question }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>Are you sure you want to delete the category <a
                href="{% url 'category-detail' category.pk %}"><strong>{{ category }}</strong></a>?</p>
        {% buttons %}
            <input type="submit" class="btn btn-danger" value="Delete"/>
        {% endbuttons %}
    </form>
{% endblock %}
