{% extends "main_authorized.html" %}
{% load bootstrap4 %}
{% block title %}Category{% endblock %}
{% block content %}
    <h1 class="my-sm-2 my-lg-5">Create Category</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <input type="submit" class="btn btn-primary" value="Save" />
       {% endbuttons %}
    </form>
    <p class="text-muted">
        <strong>Strict Mode</strong>: Incorrectly answered cards are moved back to the first area.
        <br />
        <strong>Defensive Mode</strong>: Incorrectly answered cards are moved back to the previous area.
    </p>
{% endblock %}
