{% extends "main.html" %}
{% load markdown_deux_tags %}
{% load area_rating %}
{% block title %}{{ category }}{% endblock %}
{% block content %}
    <h1>
        {{ category.name }}
    </h1>
    <div class="clearfix"></div>
    <p>&nbsp;</p>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ category.description|markdown }}
        </div>
    </div>
    <div class="col-lg-12">
        <h2>
            Cards
            <a href="{% url 'card-create' %}?category={{ category.pk }}" class="btn btn-default pull-right">Create Card</a>
        </h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Area</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in category.card_set.all %}
                        <tr>
                            <td><a href="{% url 'card-detail' card.pk %}">{{ card.question|truncatechars:128 }}</a></td>
                            <td>{% area_rating card.area %}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="{% url 'card-reset' card.pk %}" class="btn btn-default btn-xs {% if card.area == 1 %}disabled{% endif %}">Reset</a>
                                    <a href="{% url 'card-update' card.pk %}" class="btn btn-default btn-xs">Update</a>
                                    <a href="{% url 'card-delete' card.pk %}" class="btn btn-default btn-xs">Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No cards yet.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if is_paginated %}
            <div class="pagination">
                <ul class="pagination pagination-centered">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a href="">&laquo;</a></li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a href="">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="pull-right">
        <a href="{% url 'braindump-session' category.pk %}" class="btn btn-default">Start Braindump</a>
        <a href="{% url 'category-update' category.pk %}" class="btn btn-default">Update Category</a>
        {% if category.card_set.all|length == 0 %}
            <a href="{% url 'category-delete' category.pk %}" class="btn btn-link">Delete</a>
        {% endif %}
    </div>
    <div id="chart-container" class="col-xs-6 col-lg-4 hidden-xs">
        <h2>Area distribution</h2>
        <canvas id="chart"></canvas>
        <script>
            var ctx = $("#chart");
            var chart_data = {
                datasets: [{
                    data: [
                        {{ area1|length }},
                        {{ area2|length }},
                        {{ area3|length }},
                        {{ area4|length }},
                        {{ area5|length }},
                        {{ area6|length }}
                    ],
                    backgroundColor: [
                        '#f96585',
                        '#fccb64',
                        '#3f9bd9',
                        '#88f976',
                        '#57ddf9',
                        '#f35af9'
                    ]
                }],
                labels: [
                    'Area 1',
                    'Area 2',
                    'Area 3',
                    'Area 4',
                    'Area 5',
                    'Area 6'
                ]
            };
            var chart_options = {
                legend: {
                    position: 'right'
                }
            };
            new Chart(ctx,{
                type: 'pie',
                data: chart_data,
                options: chart_options
            });
        </script>
    </div>
{% endblock %}
