{% extends "main.html" %}
{% load bootstrap3 %}
{% block title %}Categories{% endblock %}
{% block content %}
    <h1>
        Categories
        <div class="pull-right">
            <a href="{% url 'category-create' %}" class="btn btn-default">Create Category</a>
        </div>
    </h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Cards</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for category in category_list %}
                    <tr>
                        <td><a href="{% url 'category-detail' category.pk %}">{{ category.name }}</a></td>
                        <td>{{ category.card_set.all|length }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{% url 'braindump-session' category.pk %}" class="btn btn-default btn-xs">Start Braindump</a>
                                <a href="{% url 'card-create' %}?category={{ category.pk }}" class="btn btn-default btn-xs">Create Card</a>
                                <a href="{% url 'category-update' category.pk %}" class="btn btn-default btn-xs">Update Category</a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No categories yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% bootstrap_pagination page_obj %}
{% endblock %}
