{% extends "main_authorized.html" %}
{% load static %}
{% load markdown_deux_tags %}
{% load area_rating %}
{% load card_controls %}
{% block title %}{{ category }}{% endblock %}
{% block custom_javascript_tags %}<script src="{% static 'chart-2.7.0/chart.bundle.min.js' %}"></script>{% endblock %}
{% block content %}
    <h1 class="my-5">
        {{ category.name }}
    </h1>
    <div class="clearfix"></div>
    <p>&nbsp;</p>
    {% if category.cards.all|length == 0 %}
        <a href="{% url 'card-create' %}?category={{ category.pk }}" class="btn btn-primary btn-lg"
           title="Create the first card in this category">Create First Card</a>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    {% endif %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    {{ category.description|markdown }}
                </div>
            </div>
        </div>
        {% if category.cards.all|length %}
            <div class="col-lg-6">
                <div id="chart-container">
                    <canvas id="chart"></canvas>
                    <script>
                        var ctx = $("#chart");
                        var chart_data = {
                            datasets: [{
                                data: [
                                    {{ area1|length }},
                                    {{ area2|length }},
                                    {{ area3|length }},
                                    {{ area4|length }},
                                    {{ area5|length }},
                                    {{ area6|length }}
                                ],
                                backgroundColor: [
                                    '#f96585',
                                    '#fccb64',
                                    '#3f9bd9',
                                    '#88f976',
                                    '#57ddf9',
                                    '#f35af9'
                                ]
                            }],
                            labels: [
                                'Area 1',
                                'Area 2',
                                'Area 3',
                                'Area 4',
                                'Area 5',
                                'Area 6'
                            ]
                        };
                        var chart_options = {
                            legend: {
                                position: 'right'
                            }
                        };
                        new Chart(ctx, {
                            type: 'pie',
                            data: chart_data,
                            options: chart_options
                        });
                    </script>
                </div>
            </div>
        {% endif %}
    </div>
    {% if category.cards.all|length %}
        <div class="col-lg-12">
            <h2 class="my-5">
                Cards
                <a href="{% url 'card-create' %}?category={{ category.pk }}" class="btn btn-outline-secondary float-right"
                   title="Create a new card in this category">Create Card</a>
            </h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Question</th>
                        <th>Area</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for card in category.cards.all %}
                        <tr>
                            <td><a href="{% url 'card-detail' card.pk %}"
                                   title="{{ card.question }}">{{ card.question|truncatechars:128 }}</a></td>
                            <td>{% area_rating card.area %}</td>
                            <td>{% card_controls card %}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No cards yet.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    <div class="float-right">
        {% if category.cards.all|length %}
            <a href="{% url 'braindump-session' category.pk %}" class="btn btn-outline-secondary"
               title="Start a Braindump session for all cards in this category">Start Braindump</a>
        {% endif %}
        <a href="{% url 'category-update' category.pk %}" class="btn btn-outline-secondary" title="Edit this category">Update
            Category</a>
        <a href="{% url 'category-delete' category.pk %}" class="btn btn-link" title="Delete this category">Delete</a>
</div>
{% endblock %}
