{% extends "main_authorized.html" %}
{% load bootstrap4 %}
{% block title %}Categories{% endblock %}
{% block content %}
    <h1 class="my-2 my-lg-5">
        Categories
        <div class="float-right">
            <a href="{% url 'category-create' %}" class="btn btn-outline-secondary" title="Create a new category">Create Category</a>
        </div>
    </h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Cards</th>
                    <th>Mode</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for category in category_list %}
                    <tr>
                        <td>
                            <a href="{% url 'category-detail' category.pk %}" title="{{ category.name }}">{{ category.name }}</a>
                            {% if user in category.is_shared_with %}
                                (shared with me)
                            {% endif %}
                        </td>
                        <td>{{ category.cards.all|length }}</td>
                        <td>{{ category.get_mode_display }} Mode</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{% url 'braindump-session' category.pk %}" class="btn btn-outline-secondary btn-sm" title="Start a Braindump session for all cards in this category">Start Braindump</a>
                                <a href="{% url 'card-create' %}?category={{ category.pk }}" class="btn btn-outline-secondary btn-sm" title="Create a new card in this category">Create Card</a>
                                <a href="{% url 'category-update' category.pk %}" class="btn btn-outline-secondary btn-sm" title="Edit this category">Update Category</a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No categories have been created yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% bootstrap_pagination page_obj %}
{% endblock %}
