{% extends "base.html" %}

{% load static %}
{% load bootstrap4 %}
{% load font_awesome %}

{% block body %}
    <nav class="navbar navbar-dark bg-primary sticky-top navbar-expand-lg mb-3">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">{% block brand %}memodrop{% endblock %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav"
                    aria-controls="navToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="{% url 'braindump-index' %}" class="nav-link">Braindump</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Create ...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'card-create' %}" title="Create a new card">Card</a>
                            <a class="dropdown-item" href="{% url 'category-create' %}" title="Create a new category">Category</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if request.user.first_name %}
                                Hi {{ request.user.first_name }}.
                            {% else %}
                                Hi {{ request.user.username }}.
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'auth-profile' %}" title="Profile">Your profile</a>
                            <a class="dropdown-item" href="{% url 'auth-logout' %}" title="Sign out">Sign out</a>
                            {% if request.user.is_superuser %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'admin:index' %}" title="Django administration">Django
                                    administration</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% bootstrap_messages %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
