{% load bootstrap4 %}
{% load font_awesome %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}edupy{% endblock %}</title>
    {% bootstrap_css %}
    {% fa_css %}
    <link href="{% static 'edupy.css' %}" rel="stylesheet">
    <link href="{% static 'braindump.css' %}" rel="stylesheet">
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'Chart-2.7.0.bundle.min.js' %}"></script>
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-dark bg-primary sticky-top navbar-expand-lg mb-3">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">edupy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav"
                aria-controls="navToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="{% url 'braindump-index' %}" class="nav-link">Braindump</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create ...
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'card-create' %}" title="Create a new card">Card</a>
                        <a class="dropdown-item" href="{% url 'category-create' %}" title="Create a new category">Category</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</div>
<script src="{% static 'braindump.js' %}"></script>
</body>
</html>
